<p style="color: green"><%= notice %></p>

<%= render @statement_line %>

<div>
  <%= link_to "Edit this statement line", edit_statement_line_path(@statement_line) %> |
  <%= link_to "Back to statement lines", statement_lines_path %>

  <%= button_to "Destroy this statement line", @statement_line, method: :delete %>
</div>
